.userBlock{
    display: flex;
    column-gap: 10px;
    color: aliceblue;
    align-items: center;
    justify-content: center;
    margin: 20px 0 35px;
}
.userCircle{
    width: 30px;
    height: 30px;
    border-radius: 50px;
    border: 1px solid aliceblue;
    box-shadow: 0 0 10px aliceblue;
}