.genres{
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    /* flex-direction: column; */
    column-gap: 20px; 
    row-gap: 0;
    align-items: center;
    justify-content: center;
    margin: 0;  
    box-sizing: border-box;
    padding: 30px;
}

.genres div{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}