.form{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    column-gap: 5px;
    margin-top: 40px;
}
input{
    width: 500px;
    height: 20px;
    border: 1px solid rgb(159, 158, 158);
    border-radius: 20px;
}

.form button{
    width: 200px;
    height: 22px;
    border: 1px solid rgb(159, 158, 158);
    border-radius: 20px;
    background-color: rgb(86, 85, 85);
    color: aliceblue;
    transition: 300ms;
}

.form button:hover{
    background-color: aliceblue;
    color: rgb(86, 85, 85);
    transition: 300ms;

}